* {
  background-color: aqua;
  font-family: cursive;
}

table,
td {
  font-size: 25px;
  text-align: center;
  border: 2px solid red;
  border-collapse: collapse;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  padding: 3px 10px;
}

.button {
  background-color: rgb(251, 255, 0);
  color: blueviolet;
  font-family: cursive;
  width: 120px;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(5, 37, 180);
  margin-top: 20px;
  margin-left: 120px;
}

.button1 {
  background-color: rgb(251, 255, 0);
  color: blueviolet;
  font-family: cursive;
  width: 120px;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(5, 37, 180);
  margin-top: 20px;
  margin-left: 40px;
}

#button {
  background-color: rgb(251, 255, 0);
  color: blueviolet;
  font-family: cursive;
  width: 120px;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(5, 37, 180);
  margin-top: 20px;
  margin-left: 100px;
}

#heading {
  color: blue;
  font-size: 40px;
}

input {
  width: 15px;
  height: 15px;
  border: 0px;
  margin: 0px 0px;
}
